body {
  font-family: "Cuprum", "Arial", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

html { 
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

li {
  list-style-type:none;
}
/* HEADER START */

.main-header {
	display: flex;
	flex-direction: column;
}

.wrapper-header {
  display: flex;
}

.main-header-top {
	height: 42px;
	display: flex;
	justify-content: space-between;
	background-color: #293449;
	color:white;
}

.main-header-left {
	display: flex;
}

.main-logo {
	width: 220px;
	height: 42px;
	display: flex;
	background-color: #ee3643;
  flex-direction: column;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-logo img{
	margin:auto;
}

/* суровая полоска под лого
.main-logo:after {
	content: "";
	position: relative;
	width: 220px;
	height: 5px;
	top:5px;
	background-color: #c02c36;
}
*/

.main-header-left form {
	display: flex;
	flex-grow: 1;
}

.main-header-left input {
	flex-grow: 1;
	padding-left: 2px;
	background-color: inherit;
  border:none;
  color: #000000;
}

.search input::placeholder {
  color: #ffffff;
}

.search:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
	background-image: url(/img/icon-search.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
  width: 50px;
}



.top-header-nav {
	display: flex;
	justify-content: space-between;
  flex-grow: 1;
}

.top-header-nav a{
	flex-grow: 1;
	height: 42px;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;
}

.bookmarks::before {
  display: inline-block;
  vertical-align: bottom;
  content: "";
  width: 35px;
  height: 42px;
	background-image: url(/img/icon-bookmark.png);
	background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  opacity: 0.3;
}

.cart:before {
  display: inline-block;
  vertical-align: bottom;
  content: "";
  width: 40px;
  height: 42px;
	background-image: url(/img/cart-icon.png);
	background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  opacity: 0.3;
}

.cart-button {
  background-color: #63a63e;
}

.main-header-bottom {
	display: flex;
	flex-direction: column;
	background-color: #f3f7f9;
	height: 278px;;
}

.main-header-middle {
	display: flex;
	justify-content: space-between;
	margin-top:50px;
}

.site-title {
	width: 300px;
  padding-left: 50px;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.header-contacs {
	width: 270px;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  
}

.header-phone {
	border:3px solid white;
	width: 100%;
	margin: auto;
  text-align: center;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.header-adress {
  width: 250px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.user-navigation {
	width: 300px;
}

.user-navigation-list {
	display: flex;
  justify-content: space-between;
  padding: 0;
}

.sing-in,
.sing-up {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ffffff;
  margin-left: 10px;
  position: relative;
}

.sing-in:before {
  content: "";
  position: absolute;
  background-image: url(/img/icon-login.png);
  background-repeat: no-repeat;
  background-position: 15px;
  width: 50px;
  height: 100%;
  opacity: .3;
}

.sing-in a{
  display: inline-block;
	width: 121px;
  height: 45px;
  line-height: 45px;
  padding-left: 48px;
}

.sing-up a{
  display: inline-block;
  text-align: center;
	width: 150px;
  height: 45px;
  line-height: 45px;
}

.site-navigation {
  height: 60px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.site-navigation ul{
  display: flex;
  justify-content: space-around;
}

.site-navigation a{
  line-height: 60px;
  color:white;
}


/*
color:#454f61
*/

/*-----MAIN-----*/
.main-content {
  display: flex;
  flex-direction: column;
}

.content-style {
  background-color: #ffffff;
}
.wrapper-main {
  display:flex;
  flex-direction: column;
}

/*-----PROMO CARDS START-----*/

.promo {
  margin-top: 59px;
}

.promo-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 22px;
}

.promo-card h3{
  color: #ffffff;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 23px;
  margin-bottom: 0;
}

.promo-card a{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 135px;
  height: 38px;
  margin-left: 25px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  position: relative;
}

.promo-card a:after{
  content: "";
  position: absolute;
  width: 135px;
  height: 38px;
  left:0px;
  background-color: #000000;
  opacity: 0.1;
}

.promo-card-material {
  background-color: #ffbf47;
  background-image: url(/img/promo-materials.png);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.promo-card-tools {
  background-color: #3bbce3;
  background-image: url(/img/promo-tools.png);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.promo-card-technik {
  background-color: #dc91d8;
  background-image: url(/img/promo-technik.png);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.promo-card-sale {
  background-color: #8ed78f;
  background-image: url(/img/promo-sale.png);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.promo-card-delivery {
  background-color: #ffc047;
  background-image: url(/img/promo-delivery.png);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}


.promo-cards-top {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
/*-----PROMO CARDS END-----*/
/*-----SLIDER START-----*/

.slider {
  width: 620px;
  height: 266px;
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-item {
  display: none;
  position: relative;
}

.slider-item-header {
  position: absolute;
  left: 25px;
  color: #ffffff;
  margin-top: 25px;
}

.slider-item-header h3{
  margin-top: 25px;
  display: inline;
  vertical-align: top;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item-header p{
  margin:0;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.button-slider {
  position: absolute;
  width: 195px;
  height: 38px;
  line-height: 38px;
  top:206px;
  left:25px;
  text-align: center;
  background-color: #ee3643;
  color: #ffffff;
}

.slider-arrows {
  position: absolute;
  top:50%;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
}

.slider-dots {
  padding: 0;
  position: absolute;
  top: 210px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-dots button {
  width: 10px;
  height: 10px;
}

.slider-item--active {
  display: flex;
}

.promo-cards-right {
  display: flex;
  flex-direction: column;
}

.promo-card {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

/*-----SLIDER END-----*/
/*-----TOP PRODUCT START-----*/

.top-products {
  display: flex;
  flex-direction: column;
}

.top-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.top-products-header h2{
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}

.top-products-button {
  width: 253px;
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  margin-right: 24px;
}

.top-product-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.product {
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom:21px;
}

.product img {
  width: 218px;
  height: 170px;
  order:-1;
}

.product h4 {
  width: 155px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin:0px;
}

.product p{
  margin:0;
}

.price-old {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.price-new {
  width: 141px;
  height: 38px;
  text-align: center;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  vertical-align: middle;
  //background-color: #ee3643;
  background-image: url(/img/product-button.svg);
  background-repeat: no-repeat;
  background-position:center;
  background-size:70%;
}

.product-overlay {
  visibility:hidden;
  width: 217px;
  height:170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  margin-bottom:7px;
  text-align: center;
  line-height: 38px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-add-bookmark {
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  text-align: center;
  line-height: 38px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}


/*-----TOP PRODUCT END-----*/
/*-----TOP BRANDS START-----*/

.top-brands {
  display: flex;
  flex-direction: column;
}

.top-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.top-brands-header h2{
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}

.top-brands-button {
  width: 253px;
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  margin-right: 24px;
}

.top-brands-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-brands-list li{
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  line-height: 145px;
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;
}

.top-brands-list img{
  vertical-align: middle;
}
/*-----TOP BRANDS END-----*/
/*-----SERVICES START-----*/
.services {
  background-color: #f4f8fa;
}

.wrapper-services {
  display: flex;
  flex-direction: column;
}

.services-header {
  width: 400px;
}

.services-header h2{
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services-header p{
font-family: "PT Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.services-slider:after{
  content: "";
  background-image: url(/img/services-slider-line.png);
  background-repeat: no-repeat;
  width:10px;
  height: 280px;
  position: absolute;
  left:230px;
}

.services-navigation {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.services-navigation li{
  width: 240px;
  height: 61px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  padding-left: 23px;
  line-height: 61px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.services-navigation .services-navigation-active {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.services-slider-content {
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 0;
  margin-right: 0;
  flex-grow: 1;
}

.services-detail {
  display: none;
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 50px;
}

.services-detail h3{
  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.services-detail p{
font-family: "PT Sans";
font-weight: 400;
line-height: 24px;
}

.services-delivery {
  background-image: url(/img/services-delivery.png);
}

.services-warranty {
  background-image: url(/img/services-warranty.png);
}

.services-credit {
  background-image: url(/img/services-credit.png);
}

.service--active {
  display:block;
}

/*-----SERVICES END-----*/
/*-----ABOUT COMPANY START-----*/

.information-about-company {
  background-color: #ffffff;
}

.wrapper-about-company {
  display: flex;
  margin-bottom: 85px;
  justify-content: space-between;
}

.about-company {
  //width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company h3{
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p{
  font-size: 14px;
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
}

.delivery-list li{
  display: flex;
  align-items: center;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

}
.delivery-list li:before{
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  margin-right:10px;
}

.button-about-us {
  display: block;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.contacts p {
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  width: 180px;
}

.contacts img {
  margin-bottom: 20px;
}

.button-write-us {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
}
/*-----ABOUT COMPANY END-----*/
/*-----FOOTER START-----*/
.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer-top {
  background-color: #32425c;
}

.wrapper-footer-top {
  display: flex;
}

.main-footer-left {
  display: flex;
  flex-direction: column;
}

.main-footer-left p{
  width: 325px;
  color: #f3f7f9;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main-footer-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer-site-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #f3f7f9;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-catalog-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 25px;
}

.main-footer-bottom {
  background-color: #293449;
}

.wrapper-footer-bottom {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  padding: 0;
  font-size: 0;
  display: flex;
  align-content: center;
}

.social-list li,
.social-list a{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-list li:first-child {
  background-image: url(/img/vk-icon.svg);
  width: 42px;
  height: 42px;;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list li:nth-child(2) {
  background-image: url(/img/fb-icon.svg);
  width: 42px;
  height: 42px;;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list li:last-child {
  background-image: url(/img/insta-icon.svg);
  width: 42px;
  height: 42px;;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.feedback p{
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.feedback a{
  color: #ffd180;
}
/*-----FOOTER END-----*/

.modal-write-us {
  display: none;
}
/*
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
*/