*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0 auto;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  display: inline-block;
  height: 38px;
  padding-left: 40px;
  padding-right: 40px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 2px;
}

/* HEADER START */

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header-top {
  display: flex;
  justify-content: space-between;
  height: 42px;

  background-color: #293449;
}

.wrapper-header {
  display: flex;

  color: #ffffff;

  font-size: 17px;
  line-height: 18px;
}

.main-header-left {
  display: flex;
  width: 470px;
}

.main-logo {
  height: 47px;
  position: relative;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 55px;
  padding-right: 55px;

  font-size: 0;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-logo:hover,
.main-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.search {
  position: relative;
}

.search-field {
  width: 250px;
  height: 42px;
  padding-left: 49px;

  line-height: 42px;

  background-color: inherit;
  border: none;
}

.button-search {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;

  background: none;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
}

.search-field::placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
  background-color: #293449;
}

.search-field:hover,
.search-field:focus,
.search-field:hover::placeholder,
.search-field:focus::placeholder {
  color: #000000;
  background-color: #ffffff;
}

.search-field:hover:-ms-input-placeholder,
.search-field:focus:-ms-input-placeholder {
  color: #000000;
  background-color: #ffffff;
}

.search-field:hover ~ .button-search,
.search-field:focus ~ .button-search {
  background-image: url(../img/icon-search-red.png);
  opacity: 1;
}

.top-header-nav {
  display: flex;
  justify-content: flex-end;
  width: 470px;
}

.top-header-nav a {
  position: relative;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 13px;

  font-size: 17px;
  line-height: 18px;
}

.bookmarks {
  padding-left: 44px;
  padding-right: 28px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;

  vertical-align: middle;

  background-image: url(../img/icon-bookmark.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart {
  padding-left: 50px;
  padding-right: 30px;
}

.cart::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;

  vertical-align: middle;

  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart-button {
  height: 42px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus,
.search:hover,
.search:focus {
  background-color: #212a3a;
  outline: none;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before,
.search:hover::before,
.search:focus::before {
  opacity: 1;
  outline: none;
}

.bookmarks:active,
.cart:active,
.search:active {
  background-color: #161d29;
}

.bookmarks:active::before,
.cart:active::before,
.search:active::before {
  opacity: 0.5;
}

.cart-button:hover,
.cart-button:focus {
  background-color: #5fbb2d;
  outline: none;
}
.cart-button:active {
  background-color: #518534;
}

.main-header-bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  background-color: #f3f7f9;
}

.main-header-middle {
  display: flex;
  margin-top: 46px;
  margin-bottom: 39px;
}

.site-title {
  width: 300px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  padding-top: 3px;
  padding-left: 53px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacs {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.header-phone {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 71px;
  padding-right: 49px;

  border: 3px solid white;

  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
}

.header-phone::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 13px;
  top: 10px;

  vertical-align: middle;

  background-image: url(../img/icon-phone.png);
  background-repeat: no-repeat;
}

.header-adress {
  margin: 0;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  margin-left: auto;
  width: 300px;
}

.user-navigation-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sing-in,
.sing-up {
  margin: 0;
  padding: 0;
  position: relative;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.sing-up {
  margin-left: 10px;
}

.sing-in a::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;

  vertical-align: middle;

  background-image: url(../img/icon-login.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sing-in a {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 24px;
  display: inline-block;

  vertical-align: middle;
}

.sing-up a {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 24px;
  display: inline-block;

  vertical-align: middle;
}

.sing-in a:hover,
.sing-in a:focus,
.sing-up a:hover,
.sing-up a:focus {
  color: #ee3643;
  outline: none;
}

.sing-in a:hover::before,
.sing-in a:focus::before {
  opacity: 1;
  outline: none;
}

.sing-in a:active,
.sing-up a:active {
  color: #000000;
  opacity: 0.3;
}

.user-authorised {
  position: relative;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-icon {
  position: relative;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 47px;
  padding-right: 67px;

  background-color: #ffffff;
}

.user-authorised-name::before {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  left: 13px;
  top: 13px;

  font-size: 0;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-logout {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  right: 10px;
  top: 14px;

  font-size: 0;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-authorised-name:hover::before,
.user-authorised-name:focus::before,
.user-logout:hover,
.user-logout:focus {
  opacity: 1;
}

.user-authorised-name:active,
.user-logout:active {
  opacity: 0.3;
}

.user-authorised-menu {
  position: relative;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  padding-left: 18px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.user-authorised-menu::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  top: 10px;
  left: 107px;

  background-image: url(../img/mini-dot.png);
  background-repeat: no-repeat;
}

.user-authorised-menu a {
  margin-right: 33px;

  color: #32425c;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.user-authorised-menu a:hover,
.user-authorised-menu a:focus {
  color: #ee3643;
  outline: none;
}
.user-authorised-menu a:active {
  color: #32425c;
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding: 0;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.site-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation-button:first-child a {
  padding-left: 52px;
  padding-right: 33px;
}

.site-navigation-button:last-child a {
  padding-left: 33px;
  padding-right: 52px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background: #293449;
  outline: none;
}
.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

/*-----MAIN-----*/

.content-style {
  margin-top: 59px;

  background-color: #ffffff;
}
.wrapper-main {
  display: flex;
  flex-direction: column;
}

/*-----PROMO CARDS START-----*/

.promo {
  margin-bottom: 33px;
}

.promo-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-cards-top {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.promo-cards-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  order: 1;
}

.promo-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding-bottom: 22px;
}

.promo-card h3 {
  margin-bottom: 0;
  margin-top: 22px;
  margin-left: 23px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.promo-card a {
  position: relative;
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-left: 24px;
  margin-top: 13px;

  vertical-align: middle;
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-card a::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 38px;
  left: 0;
  background-color: #000000;
  opacity: 0.1;
}

.promo-card a:hover::before,
.promo-card a:focus::before {
  opacity: 0.2;
  outline: none;
}

.promo-card a:active::before {
  opacity: 0.3;
}

.promo-card span {
  position: relative;
}

.promo-card-material {
  background-color: #ffbf47;
  background-image: url(../img/promo-materials.png);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-card-tools {
  background-color: #3bbce3;
  background-image: url(../img/promo-tools.png);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo-card-technik {
  background-color: #dc91d8;
  background-image: url(../img/promo-technik.png);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-card-sale {
  background-color: #8ed78f;
  background-image: url(../img/promo-sale.png);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo-card-delivery {
  background-color: #ffc047;
  background-image: url(../img/promo-delivery.png);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

/*-----PROMO CARDS END-----*/
/*-----SLIDER START-----*/

.slider {
  width: 620px;
  height: 266px;
  position: relative;

  background-color: #212a3a;
}

.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  display: none;
  position: relative;
}

.slider-item-header {
  position: absolute;
  left: 24px;
  margin-top: 25px;
}

.slider-item-header h3 {
  display: inline-block;
  margin: 0;

  vertical-align: middle;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-item-header p {
  margin: 0;
  margin-top: 1px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.button-slider {
  position: absolute;
  top: 206px;
  left: 25px;
  padding-top: 2px;
  padding-left: 50px;
  padding-right: 45px;

  line-height: 38px;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
  outline: none;
}

.button:active {
  background-color: #ba2732;
}

.slider-arrows {
  position: absolute;
  top: 114px;
  width: 100%;
  margin: 0;
  padding-left: 25px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;

  font-size: 0;
}

.button-slider-arrows {
  width: 22px;
  height: 40px;
  background: none;
  border: none;
}

.slider-arrows-forward {
  background-image: url(../img/icon-right.png);
  background-repeat: no-repeat;
}

.slider-arrows-back {
  background-image: url(../img/icon-left.png);
  background-repeat: no-repeat;
}

.slider-dots {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 217px;
  left: 294px;
}

.slider-dots li {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.slider-dots li:first-child {
  margin-right: 9px;
}

.slider-dots-button {
  width: 10px;
  height: 10px;
  padding: 0;

  font-size: 0;

  background: none;
  background-color: #ffffff;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-dots-button:hover,
.slider-dots-button:focus {
  background-color: red;
}

.slider-item--active {
  display: flex;
}

/*-----SLIDER END-----*/
/*-----TOP PRODUCT START-----*/

.top-products {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.top-products-header {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-left: 28px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.top-products-header h2 {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 27px;

  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.top-products-button {
  margin-top: 26px;
  margin-left: 55px;
  padding: 12px 55px;
}

.top-product-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product {
  position: relative;
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.product:hover,
.product:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  outline: none;
}

.product-new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;

  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.product img {
  width: 218px;
  height: 170px;
  order: -1;
}

.product h4 {
  max-width: 100%;
  position: relative;
  flex-grow: 1;
  margin: 0;
  margin-top: 9px;
  padding-left: 30px;
  padding-right: 31px;

  text-align: center;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.product p {
  margin: 0 auto;
}

.price-old {
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}

.product h4::after {
  content: "";
  position: absolute;
  width: 141px;
  height: 38px;
  top: 78px;
  left: 43px;
  background-image: url(../img/product-button.svg);
  background-repeat: no-repeat;
}

.price-new {
  position: relative;
  padding-top: 8px;
  padding-bottom: 9px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
}

.product-overlay {
  position: absolute;
  width: 135px;
  height: 170px;
  top: 44px;
  left: 41px;
  display: flex;
  flex-direction: column;
  display: none;

  text-transform: uppercase;
}

.product:hover .product-overlay,
.product:focus .product-overlay {
  display: flex;
}

.product:hover img,
.product:focus img {
  visibility: hidden;
}

.product-button {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;

  color: #ffffff;
}

.product-button-buy {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 49px;
  padding-right: 45px;

  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.product-button-buy::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 42px;
  top: 10px;
  left: 13px;

  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.product-button-buy:hover,
.product-button-buy:focus {
  background-color: #5fbb2d;
}

.product-button-buy:hover::before,
.product-button-buy:focus::before,
.product-button-buy:active::before {
  opacity: 1;
}

.product-button-buy:active {
  background-color: #518534;
}

.product-button-bookmark {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 33px;
  padding-right: 15px;
  border: 3px solid #63a63e;

  color: #32425c;
}

.product-button-bookmark:hover,
.product-button-bookmark:focus {
  border: 3px solid #32425c;
}

.product-button-bookmark:active {
  opacity: 0.3;
}

/*-----TOP PRODUCT END-----*/
/*-----TOP BRANDS START-----*/

.top-brands {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

.top-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.top-brands-header h2 {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}

.top-brands-button {
  width: 253px;
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  margin-right: 24px;
}

.top-brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style-type: none;
}

.top-brands-list li {
  width: 220px;
  height: 145px;
  margin-top: 20px;

  border: 1px solid #eaeaea;
}

.top-brands-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.top-brands-list a:hover,
.top-brands-list a:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
  outline: none;
}

.top-brands-list a:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/*-----TOP BRANDS END-----*/
/*-----SERVICES START-----*/
.services {
  background-color: #f4f8fa;
  padding-top: 64px;
}

.wrapper-services {
  display: flex;
  flex-direction: column;
}

.services-header {
  width: 430px;
}

.services-header h2 {
  margin: 0;
  margin-bottom: 26px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services-header p {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.services-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 99px;
  display: flex;
  flex-direction: column;

  list-style-type: none;
}

.services-navigation:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 280px;
  top: -20px;
  left: 230px;

  background-image: url(../img/services-slider-line.png);
  background-repeat: no-repeat;
}

.services-navigation li {
  display: flex;
  width: 240px;
  height: 61px;

  line-height: 61px;
  color: #ffffff;

  font-size: 21px;
  font-weight: 700;

  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
}

.services-navigation a {
  padding-left: 23px;
  text-align: left;
  width: 100%;
  height: 100%;
}

.services-navigation a:hover,
.services-navigation a:focus {
  color: #ffffff;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
  outline: none;
}

.services-navigation .services-navigation-active {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.services-slider-content {
  margin: 0;
  margin-left: 80px;

  flex-grow: 1;
}

.services-detail {
  display: none;
  background-repeat: no-repeat;
  background-position: right 21px;
}

.services-detail h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  color: #32425c;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.services-detail p {
  width: 300px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 24px;
}

.services-delivery {
  height: 261px;
  background-image: url(../img/services-delivery.png);
}

.services-warranty {
  height: 283px;
  background-image: url(../img/services-warranty.png);
}

.services-credit {
  height: 285px;
  background-image: url(../img/services-credit.png);
}

.service--active {
  display: block;
}

/*-----SERVICES END-----*/
/*-----ABOUT COMPANY START-----*/

.information-about-company {
  margin-top: 82px;
  margin-bottom: 86px;
  background-color: #ffffff;
}

.wrapper-about-company {
  display: flex;
  justify-content: space-between;
}

.about-company {
  width: 519px;
}

.about-company h3 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  width: 550px;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.about-company p:nth-child(3) {
  padding-right: 120px;
}

.delivery-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  padding-top: 22px;
}

.delivery-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.delivery-list li:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  margin-right: 10px;
}

.button-about-us {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 41px;
  padding-right: 40px;
}

.contacts {
  width: 300px;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  width: 180px;
}

.contacts-map {
  display: block;
  margin-bottom: 35px;
}

.contacts img {
  background-color: #eeeae3;
}

.button-write-us {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 64px;
  padding-right: 58px;
}

/*-----ABOUT COMPANY END-----*/
/*-----FOOTER START-----*/
.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer-top {
  background-color: #32425c;
  padding-bottom: 50px;
}

.wrapper-footer-top {
  display: flex;
}

.footer-logo {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 41px;
  padding-right: 41px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-footer-left p {
  margin: 0;
  margin-top: 27px;
  padding: 0;
  padding-left: 3px;
  width: 326px;
  color: #f3f7f9;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main-footer-right {
  margin: 0;
  margin-left: 67px;
  margin-top: 19px;
  padding: 0;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer-site-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;

  list-style-type: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-catalog-navigation {
  margin-left: 23px;
  margin-top: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  list-style-type: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffd180;
}

.main-footer-right a:hover,
.main-footer-right a:focus {
  text-decoration: underline;
  outline: none;
}

.main-footer-right a:active {
  opacity: 0.5;
}

.main-footer-bottom {
  background-color: #293449;
}

.wrapper-footer-bottom {
  margin-top: 33px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.copyright p {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

.social {
  padding-left: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  padding: 0;
  display: flex;
  align-content: center;

  list-style-type: none;
  font-size: 0;
}

.social-list a {
  margin-right: 4px;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: bottom;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  background-color: #ee3643;
  outline: none;
}

.social-button {
  width: 42px;
  height: 42px;

  background-position: center;
  background-repeat: no-repeat;
}

.social-button-vk {
  background-image: url(../img/vk-icon.svg);
}

.social-button-facebook {
  background-image: url(../img/fb-icon.svg);
}

.social-button-instagramm {
  background-image: url(../img/insta-icon.svg);
}

.feedback {
  margin-left: auto;
  margin-right: 13px;
  display: flex;
}

.feedback p {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
  text-decoration: underline;
  outline: none;
}

.feedback a:active {
  color: #ee3643;
}

/*-----FOOTER END-----*/

.modal-write-us {
  display: none;
}

/*=============
          CATALOG
          ===================*/

.catalog-perforator {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  position: relative;
  margin: 0;
  margin-right: 42px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li:first-child {
  width: 14px;
  height: 12px;
  top: 2px;
  margin-left: 0px;
  margin-right: 40px;

  font-size: 0;

  background-image: url(../img/icon-home.png);
  background-repeat: no-repeat;
}

.breadcrumbs-index {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 12px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  left: -25px;

  background-image: url(../img/icon-right-small.png);
  background-repeat: no-repeat;
}

.breadcrumbs li:first-child::before {
  background: none;
}

.catalog-perforator h2 {
  width: 940px;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 28px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.main-catalog {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
  padding-left: 19px;
  padding-top: 11px;
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-price {
  display: flex;
  flex-direction: column;
}

.filter-price::after,
.filter-brands::after {
  content: "";
  display: inline-block;
  width: 100%;
  border: 0.5px solid #e5e5e5;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-price-range-dots {
  width: 220px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f7f3ec;
}

.filter-price-range-dots::before {
  content: "";
  position: absolute;
  width: 120px;
  left: 40px;

  border: 1px solid #00ca74;
}

.filter-price-range-dots span {
  width: 20px;
  height: 22px;

  font-size: 0;

  background-color: #ffffff;
  border-radius: 50%;
}

.filter-price-range-dots span::after {
  content: "";
  position: relative;
  top: 10px;
  left: 8px;

  border: 2px solid #ababab;
  border-radius: 50%;
}

.range-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-input input {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-bottom: 6px;
  padding-left: 4px;
  width: 95px;
  height: 38px;

  text-align: center;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
}

.range-input span {
  padding-bottom: 26px;
}

.filter-brands legend,
.filter-power legend {
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.filter-brands-list,
.filter-power-list {
  list-style-type: none;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.brands-checkbox,
.filter-power-list input {
  position: absolute;
  z-index: -1;
}

.filter-brands label,
.filter-power label {
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-power legend {
  padding-top: 5px;
}

.filter-brands label::before {
  content: "";
  width: 23px;
  height: 23px;
  display: inline-block;
  position: absolute;
  left: 0;
}

.filter-brands label::before {
  background-image: url(../img/checkbox-off.svg);
}

.filter-brands label:hover::before,
.filter-brands label:focus::before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.filter-brands label:active::before {
  opacity: 0.3;
}

.filter-power label::before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: -1px;
}

.filter-power label::before {
  background-image: url(../img/radio-off.svg);
}

.filter-power label:hover::before,
.filter-power label:focus::before {
  background-image: url(../img/radio-off-hover.svg);
}

.filter-power label:active::before {
  opacity: 0.3;
}

input[type="checkbox"]:checked + label:before {
  width: 26px;
  background-image: url(../img/checkbox-on.svg);
}

input[type="radio"]:checked + label:before {
  background-image: url(../img/radio-on.svg);
}

.button-filter {
  margin: 0;
  margin-top: 57px;
  margin-right: 79px;
  padding-top: 10px;
  padding-bottom: 8px;
  border: 1px solid #e5e5e5;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
}

/*-----PRODUCT CATALOG START-----*/
.catalog-product {
  width: 700px;
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sorting {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 10px;

  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sorting h4 {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 142px;
  display: flex;
  flex-wrap: wrap;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-type li:nth-child(2n) {
  margin-left: 70px;
}

.sorting-type li:nth-child(3n) {
  margin-left: 66px;
}

.sorting-type a {
  opacity: 0.3;
}

.sorting-type-active a {
  color: #ee3643;
  opacity: 1;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: #000000;
  opacity: 1;
}

.sorting-value {
  list-style-type: none;
  margin: 0;
  margin-right: 2px;
  margin-left: auto;
  padding: 0;
  display: flex;

  font-size: 0;
}

.sorting-value li {
  position: relative;

  background-image: none;
  border: 10px solid #ffffff;
  border-bottom-color: #c5c5c5;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: rotateY(50deg) rotateX(180deg);
}

.sorting-value li:first-child {
  margin-right: 12px;

  transform: rotateY(50deg);
}

.sorting-value .sorting-value-active {
  border-bottom-color: #ee3643;
}

.sorting-value li:hover,
.sorting-value li:focus {
  border-bottom-color: #000000;
}

.sorting-value a {
  position: absolute;
  width: 30px;
  height: 10px;
  top: -6px;
  left: -10px;
  font-size: 20px;
  color: transparent;
}

.product-perforator-list {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product-perforator-list li {
  margin-bottom: 20px;
}

.catalog-pagination {
  list-style-type: none;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  display: flex;

  text-transform: uppercase;
}

.catalog-pagination li {
  margin-right: 9px;
  display: flex;
  border: 1px solid #e5e5e5;
}

.catalog-pagination a {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.catalog-pagination .link-next {
  padding-left: 31px;
  padding-right: 31px;
}

.catalog-pagination-active {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-pagination li:hover,
.catalog-pagination li:focus {
  color: #000000;
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
  outline: none;
}

.catalog-pagination li:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

.catalog-description {
  padding-top: 65px;
  padding-bottom: 69px;

  background-color: #f2f6f8;
}

.catalog-description h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-description p {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 24px;
}

/*-----MODAL-----*/
.modal-cart-add {
  display: none;
}